body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

header {
    padding: 30px;
    font-family: monospace;
    background-color: var(--lightblue);
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: serif;
    font-size: 20px;
    
}

nav a:hover{
    color: black;
}

header nav ul a{
    list-style-type: none;
    text-decoration: none;
    color:#ffffff;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.background-image > img{
    display: inline;
    height: 175px;
    width: 100%;
  }
  

section {
    display: flex;
    max-width: 100%;
    margin: 2% auto;    
    font-family: serif; 
    padding: 5px;
    justify-content: space-around;
    align-items: center;
}

.gettoknowme {
    width: auto;
    margin: 5px;
    padding: 2px;
    display: inline;
}
  
.postcards {
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card_title {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 170%;
    font-family: monospace;
}

.card-contact-layout{
    display: flex;
    flex-direction: column;
}

#aboutme{
    font-size: 170%;
    font-family: monospace;
}

.aboutmetext{
    font-size:110%;
    font-family: monospace;
    padding: 5px;
}

main img{
    border: 8px solid var(--lightblue);
    margin: 5px;
}

.contactme {
 display: flex;
 flex-direction: row;
}

.contactWrapper {
display: flex;
flex-direction: column;
}

footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: var(--lightblue);
    color: #fff;
  }

  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
  
    main {
      max-width: 1200px;
    }
  }