body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

header {
    padding: 30px;
    font-family: monospace;
    background-color: var(--lightblue);
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: serif;
    font-size: 20px;
    
}

nav a:hover{
    color: black;
}

header nav ul a{
    list-style-type: none;
    text-decoration: none;
    color:#ffffff;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

main div{
    display: flex;
    flex: 5 5 0;
    max-width: 96%;
    margin: 2% auto;    
    font-family: serif; 
    padding: 10px
}

main div div {
    width: auto;
    border: solid var(--lightblue) 2px;
    margin: 5px;
    padding: 2px;
    display: inline;
}

#aboutme{
    font-size: 150%;
}

main img{
    border: 10px solid var(--lightblue);
    padding: 5px;
    margin: 5px;
}

.section {
    width: auto;
    border: solid var(--lightblue) 5px;
    margin: 5px;
    padding: 10px;
  }

footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: var(--lightblue);
    color: #fff;
  }

  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
  
    main {
      max-width: 1200px;
    }
  }




  
